# Application
PORT=3000
NODE_ENV=development

# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kazana?schema=public"

# Redis (Cache / Queue)
REDIS_HOST=localhost
REDIS_PORT=6379

# Authentication
JWT_SECRET=super-secret-key-change-me-in-production
JWT_EXPIRES_IN=7d

# File Storage (Azure Blob Storage)
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=devstoreaccount1;AccountKey=Eby8vdM0gYhgveJFwEamFLqEE5L6ADMvtNZG87wG7LM==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;"
AZURE_STORAGE_CONTAINER=kazana-uploads
